<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnStringLocal" providerName="System.Data.SqlClient" connectionString="Server=localhost\SQLSERVERARA;Database=tp2_net;Integrated Security=false; User=net; Password=net;"/>
    <add name="ConnStringLocalDavid" providerName="System.Data.SqlClient" connectionString="Server=COMPUTADORA-PC\SQLEXPRESS;Database=TP2;Integrated Security=true;" />   
    <add name="ConnStringExpress" providerName="System.Data.SqlClient" connectionString="Server=localhost\SQLEXPRESS;Database=tp2_net; Integrated Security=false; User=net; Password=net;"/>
    <add name="ConnStringServerISI" providerName="System.Data.SqlClient" connectionString="Server=serverisi; Database=tp2_net; Integrated Security=false; User=net; Password=net;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
    <siteMap>
      <providers>
        <remove name="MySqlSiteMapProvider"/>
      </providers>
    </siteMap>
  </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
